<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuestionPaperGenerator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.cognizant.registration.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.cognizant.home.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.cognizant.home.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Results</display-name>
    <servlet-name>Results</servlet-name>
    <servlet-class>com.cognizant.result.Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultDemo</display-name>
    <servlet-name>ResultDemo</servlet-name>
    <servlet-class>com.cognizant.result.ResultDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultDemo</servlet-name>
    <url-pattern>/ResultDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperGeneration</display-name>
    <servlet-name>PaperGeneration</servlet-name>
    <servlet-class>com.cognizant.registration.PaperGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperGeneration</servlet-name>
    <url-pattern>/PaperGeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>previous</display-name>
    <servlet-name>previous</servlet-name>
    <servlet-class>com.cognizant.registration.previous</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>previous</servlet-name>
    <url-pattern>/previous</url-pattern>
  </servlet-mapping>
</web-app>